[project]
	description = A sample Spring-based application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dennis Tait (taitd)
[access "refs/for/refs/*"]
	read = group user/Dennis Tait (taitd)
	push = group user/Dennis Tait (taitd)
	label-Code-Review = -2..+2 group user/Dennis Tait (taitd)
	label-Verified = -1..+1 group user/Dennis Tait (taitd)
	rebase = group user/Dennis Tait (taitd)
	removeReviewer = group user/Dennis Tait (taitd)
	submit = group user/Dennis Tait (taitd)
[access "refs/heads/*"]
	read = group user/Dennis Tait (taitd)
	create = group user/Dennis Tait (taitd)
	push = +force group user/Dennis Tait (taitd)
	pushMerge = group user/Dennis Tait (taitd)
[access "refs/tags/*"]
	push = +force group user/Dennis Tait (taitd)
	pushTag = group user/Dennis Tait (taitd)
	pushSignedTag = group user/Dennis Tait (taitd)
